{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "no-console": "off",
    "no-undef": "off",
    "react/require-default-props": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off"
  }
}
